################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.json
*.sqlite
*.dll
*.pdb
*.cache
*.txt
*.editorconfig
*.props
*.targets

/Ex03.GarageLogic/obj
/GarageUI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/GarageUI/obj/Debug/netcoreapp3.1
/GarageUI/bin/Debug/netcoreapp3.1
